<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Management</title>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="sidebar">
        <a href="/">Home</a>
        <a href="/users">All users</a>
    </nav>

    <main class="site-content">
        <header>
            <h1 class="site-title">User Management 2.0</h1>
        </header>

        <section class="site-description">
            <p><b>Welcome to User Management System 2.0!</b></p>
            <br>
            <p> A friendly app for searching users stored in our database. Before
                you
                can
                use our search feature, you need to populate our database with some users. Click the <span
                    class="populate-span">"Populate
                    Database"</span>
                button to get started.</p>
            <form method="POST" action="/" class="populate-form">
                <input type="submit" class="button" value="Populate Database">
            </form>

        </section>
    </main>

</body>

</html>