<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Management</title>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="sidebar">
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/users">All users</a>
    </nav>

    <main class="site-content">
        <form method="POST" action="/search" class="search-form">
            <input type="text" placeholder="Who Are You Looking For?" name="user" class="search">
            <input type="submit" value="Search" class="button">
        </form>

    </main>

</body>

</html>